<div class="title">
  <em class="material-icons">call</em>
  <h1>Alterar tipo de contato</h1>
</div>

<mat-card class="card">

  <form>

      <mat-form-field>
          <input matInput placeholder="Id" [(ngModel)]="contatoTipo.id" name="id" disabled>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="contatoTipo.nome" name="name" maxlength="20">
      </mat-form-field>

  </form>

  <div class="actions">
    <button type="button" mat-raised-button (click)="update()" color="primary">
        Atualizar
    </button>

    <button type="button" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
  </div>

</mat-card>


