<div class="title">
  <em class="material-icons">ice_skating</em>
  <h1>Remover produto</h1>
</div>

<mat-card class="card">

  <form>

    <mat-form-field>
        <input class="field" matInput placeholder="Id" [value]="produto.id" name="id" disabled>
    </mat-form-field>

    <mat-form-field>
        <input class="field" matInput placeholder="Tipo" [value]="produto.tipoNome" name="tipoNome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Cor" [value]="produto.corNome" name="corNome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Detalhe" [value]="produto.detalheNome" name="detalheNome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Complemento" [value]="produto.complementoNome" name="complementoNome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Fabricante" [value]="produto.fabricanteNome" name="fabricanteNome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Codigo" [value]="produto.codigo" name="codigo" maxlength="06" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Folder" [value]="produto.folder" name="folder" maxlength="06" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Preco" [value]="produto.preco | currency : 'BRL'" name="preco" maxlength="06" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data criação" [value]="produto.dataCriacao | numberToDate" name="dataCriacao" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data Atualização" [value]="produto.dataAtualizacao | numberToDate" name="dataAtualizacao" disabled>
    </mat-form-field>

    <div class="actions">
      <button type="button" mat-raised-button (click)="delete()" color="warn">
        Remover
      </button>

      <button type="button" mat-raised-button (click)="cancel()">
          Cancelar
      </button>
    </div>
    </form>

</mat-card>
