<div class="title">
  <em class="material-icons">store</em>
  <h1>Adicionar venda do cliente</h1>
</div>

<mat-card class="card">

  <form>

    <mat-form-field>
      <mat-label>Forma de pagamento</mat-label>
      <mat-select [(ngModel)]="selected.formaPagamentoTipo" name="formaPagamentoTipoId">
        <mat-option *ngFor="let formaPagamentoTipo of formaPagamentoTipos" [value]="formaPagamentoTipo.id">
          {{ formaPagamentoTipo.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="number" [(ngModel)]="clienteVenda.desconto" matInput placeholder="Desconto (%)" name="desconto">
    </mat-form-field>

    <mat-form-field>
      <input type="number" [(ngModel)]="clienteVenda.agravo" matInput placeholder="Agravo (%)" name="agravo">
    </mat-form-field>

    <mat-form-field>
      <input type="text" [(ngModel)]="clienteVenda.valorTotal" matInput placeholder="Valor total" name="valorTotal" disabled>
    </mat-form-field>

    <mat-form-field>
      <textarea type="text" [(ngModel)]="clienteVenda.observacoes" matInput placeholder="Observações" name="observacoes" maxlength="255" cols="120" rows="2"></textarea>
    </mat-form-field>
  </form>

  <div class="actions">

    <button type="button" mat-raised-button (click)="create()" color="primary">
        Salvar
    </button>

    <button type="button" mat-raised-button (click)="cancel()">
        Cancelar
    </button>

  </div>

</mat-card>


