table, .mat-form-field, .menu {
  width: calc(100% - 40px);
}

table {
  padding: 5px;
}

tr.element-row:hover {
  background: whitesmoke;
}

.mat-form-field {
  padding: 5px 20px;
  font-size: 14px;
}

mat-label {
  margin-left: 0px;
}

div.filter,
div.menu,
div.content {
  margin: 20px;
}

.filter {
  background-color: whitesmoke;
}

h1 {
  width: 100%;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.not-found {
  text-align: center;
  font-style: italic;
}
