<mat-toolbar color="primary" class="header" [matMenuTriggerFor]="menu">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span><a routerLink="/">Manager</a></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cadastros">Cadastros</button>
  <a routerLink="/clientes"><button mat-menu-item>Clientes</button></a>
</mat-menu>

<mat-menu #cadastros="matMenu">
  <a routerLink="/cadastros/formas-pagamentos-tipos"><button mat-menu-item>Formas de pagamentos</button></a>
  <button mat-menu-item [matMenuTriggerFor]="cadastrosProdutos">Produtos</button>
  <a routerLink="/cadastros/ramos"><button mat-menu-item>Ramos</button></a>
  <a routerLink="/cadastros/contatos-tipos"><button mat-menu-item>Tipos de contatos</button></a>
  <a routerLink="/cadastros/documentos-tipos"><button mat-menu-item>Tipos de documentos</button></a>
</mat-menu>

<mat-menu #cadastrosProdutos="matMenu">
  <a routerLink="/cadastros/produtos"><button mat-menu-item>Produtos</button></a>
  <hr>
  <a routerLink="/cadastros/produtos/complementos"><button mat-menu-item>Complementos</button></a>
  <a routerLink="/cadastros/produtos/cores"><button mat-menu-item>Cores</button></a>
  <a routerLink="/cadastros/produtos/detalhes"><button mat-menu-item>Detalhes</button></a>
  <a routerLink="/cadastros/produtos/fabricantes"><button mat-menu-item>Fabricantes</button></a>
  <a routerLink="/cadastros/produtos/tipos"><button mat-menu-item>Tipos</button></a>
</mat-menu>

