input{
  display: inline-block;
}

.actions {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.actions button:nth-child(2) {
  margin-left: 20px;
}

h1 {
  width: 100%;
  text-align: center;
}

form {
  margin: 20px;
  width: calc(50%-40px);
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px
}

.venda-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.venda-item {
  width: calc(100% / 4 - 50px);
}

.venda-item-disabled {
  width: calc(100% / 3 - 50px);
}
