<div class="title">
  <em class="material-icons">store</em>
  <h1>Alterar venda do cliente</h1>
</div>

<mat-card class="card">

  <form>

      <div class="venda-title">
        <mat-form-field class="venda-item-disabled">
            <input matInput placeholder="Id" [(ngModel)]="vendaId" name="id" disabled>
        </mat-form-field>

        <mat-form-field class="venda-item-disabled">
          <input matInput placeholder="Data de criação" [ngModel]="dataCriacao | numberToDate " name="dataCriacao" disabled>
        </mat-form-field>

        <mat-form-field class="venda-item-disabled">
          <input matInput placeholder="Status" [ngModel]="status" name="status" disabled
            [ngClass]="{
              'check': isStatusConfirmado(),
              'deliver' : isStatusEntregue(),
              'cancel' : isStatusCancelado()
            }">
        </mat-form-field>

        <div class="status">
          <a (click)="updateStatusConfirmado()" class="check" matTooltip="Atualizar para Confirmado" matTooltipClass="tooltip"
            *ngIf="!isStatusConfirmado()">
            <em class="material-icons">
              check
            </em>
          </a>
          <a (click)="updateStatusEntregue()" class="deliver" matTooltip="Atualizar para Entregue" matTooltipClass="tooltip"
            *ngIf="!isStatusEntregue()">
            <em class="material-icons">
              delivery_dining
            </em>
          </a>
          <a (click)="updateStatusCancelado()" class="cancel" matTooltip="Atualizar para Cancelado" matTooltipClass="tooltip"
            *ngIf="!isStatusCancelado()">
            <em class="material-icons">
              cancel
            </em>
          </a>
        </div>
      </div>

      <div class="venda-title">
        <mat-form-field class="venda-item">
          <mat-label>Forma de pagamento</mat-label>
          <mat-select [(ngModel)]="selected.formaPagamentoTipo" name="formaPagamentoTipo" [disabled]="disableAction()" (selectionChange)="findDescontoAgravo()">
            <mat-option *ngFor="let formaPagamentoTipo of formaPagamentoTipos" [value]="formaPagamentoTipo.id">
              {{ formaPagamentoTipo.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="venda-item">
          <input type="number" [(ngModel)]="clienteVenda.desconto" matInput placeholder="Desconto (%)" name="desconto" [disabled]="disableAction()" min="0">
        </mat-form-field>

        <mat-form-field class="venda-item">
          <input type="number" [(ngModel)]="clienteVenda.agravo" matInput placeholder="Agravo (%)" name="agravo" [disabled]="disableAction()" min="0">
        </mat-form-field>

        <mat-form-field class="venda-item">
          <input type="text" [(ngModel)]="selected.valorTotal" matInput placeholder="Valor total" name="valorTotal" disabled>
        </mat-form-field>
      </div>


      <mat-form-field>
        <textarea type="text" [(ngModel)]="clienteVenda.observacoes" matInput placeholder="Observações" name="observacoes" maxlength="255" cols="120" rows="2" [disabled]="disableAction()"></textarea>
      </mat-form-field>
  </form>

</mat-card>
<br><br>
<app-cliente-venda-item-read [statusVenda]='status'></app-cliente-venda-item-read>

<div class="actions">
  <button type="button" mat-raised-button (click)="update()" color="primary"
    [disabled]="disableAction()">
      Atualizar
  </button>

  <button type="button" mat-raised-button (click)="cancel()">
      Voltar
  </button>
</div>


