<div class="title">
  <h1 mat-dialog-title>
    <h1>Atualizar item</h1>
  </h1>
</div>

<div mat-dialog-content>
  <form>
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <mat-select [(ngModel)]="selected.produtoId" name="produtoId">
          <mat-option *ngFor="let produto of produtos" [value]="produto.id">
            {{ produto.codigo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="number" [(ngModel)]="clienteVendaItem.tamanho" matInput placeholder="Tamanho" name="tamanho" min="0">
      </mat-form-field>

      <mat-form-field>
        <input type="number" [(ngModel)]="clienteVendaItem.quantidade" matInput placeholder="Quantidade" name="quantidade" min="0">
      </mat-form-field>

      <mat-form-field>
        <input type="text" [(ngModel)]="selected.valorUnitario" matInput placeholder="Valor unitário" name="valorUnitario">
      </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="update()" color="primary">Atualizar</button>
  <button mat-button mat-dialog-close="clienteVendaItem">Cancelar</button>
</div>
