<div class="title">
  <em class="material-icons">fingerprint</em>
  <h1>Remover documento do cliente</h1>
</div>

<mat-card class="card">

  <form>

    <mat-form-field>
        <input class="field" matInput placeholder="Id" [value]="clienteDocumento.id" name="id" disabled>
    </mat-form-field>

    <mat-form-field>
        <input class="field" matInput placeholder="Tipo" [value]="clienteDocumento.tipoDocumentoNome" name="tipo" disabled>
    </mat-form-field>

    <mat-form-field >
      <input class="field" matInput placeholder="Documento" [value]="clienteDocumento.documento?clienteDocumento.documento:'-'" name="contato" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Documento" [value]="clienteDocumento.isento | booleanToString" name="isento" disabled>
    </mat-form-field>

    <mat-form-field>
      <textarea class="field" matInput placeholder="Observações" [value]="clienteDocumento.observacoes" name="observacoes" disabled rows="2"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data criação" [value]="clienteDocumento.dataCriacao * 1000 | date: 'yyyy-MM-dd HH:mm:ss'" name="dataCriacao" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data Atualização" [value]="clienteDocumento.dataAtualizacao * 1000 | date: 'yyyy-MM-dd HH:mm:ss'" name="dataAtualizacao" disabled>
    </mat-form-field>

    <div class="actions">
      <button type="button" mat-raised-button (click)="delete()" color="warn">
        Remover
      </button>

      <button type="button" mat-raised-button (click)="cancel()">
          Cancelar
      </button>
    </div>
    </form>

</mat-card>
