<div class="title">
  <em class="material-icons">store</em>
  <h1>Excluir venda do cliente</h1>
</div>

<mat-card class="card">

  <form>

    <mat-form-field>
        <input class="field" matInput placeholder="Id" [value]="clienteVenda.id" name="id" disabled>
    </mat-form-field>

    <mat-form-field>
        <input class="field" matInput placeholder="Forma de pagamento" [value]="clienteVenda.formaPagamentoTipoNome" name="formaPagamentoTipoNome" disabled>
    </mat-form-field>

    <mat-form-field>
      <input type="number" class="field" matInput placeholder="Desconto" [value]="clienteVenda.desconto" name="desconto" disabled>
    </mat-form-field>

    <mat-form-field>
      <input type="number" class="field" matInput placeholder="Agravo" [value]="clienteVenda.agravo" name="agravo" disabled>
    </mat-form-field>

    <mat-form-field>
      <input type="field" class="field" matInput placeholder="Valor Total" [value]="clienteVenda.valorTotal | currency : 'BRL' " name="valorTotal" disabled>
    </mat-form-field>

    <mat-form-field>
      <textarea class="field" matInput placeholder="Observações" [value]="clienteVenda.observacoes" name="observacoes" disabled rows="2"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data criação" [value]="clienteVenda.dataCriacao * 1000 | date: 'yyyy-MM-dd HH:mm:ss'" name="dataCriacao" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data Atualização" [value]="clienteVenda.dataAtualizacao * 1000 | date: 'yyyy-MM-dd HH:mm:ss'" name="dataAtualizacao" disabled>
    </mat-form-field>

    <div class="actions">
      <button type="button" mat-raised-button (click)="delete()" color="warn">
        Excluir
      </button>

      <button type="button" mat-raised-button (click)="cancel()">
          Cancelar
      </button>
    </div>
    </form>

</mat-card>
