<div class="title">
  <em class="material-icons">palette</em>
  <h1>Remover cor de produto</h1>
</div>

<mat-card class="card">

  <form>

    <mat-form-field>
        <input class="field" matInput placeholder="Id" [value]="produtoCor.id" name="id" disabled>
    </mat-form-field>

    <mat-form-field>
        <input class="field" matInput placeholder="Nome" [value]="produtoCor.nome" name="nome" maxlength="20" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Sigla" [value]="produtoCor.sigla" name="sigla" maxlength="01" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data criação" [value]="produtoCor.dataCriacao | numberToDate" name="dataCriacao" disabled>
    </mat-form-field>

    <mat-form-field>
      <input class="field" matInput placeholder="Data Atualização" [value]="produtoCor.dataAtualizacao | numberToDate" name="dataAtualizacao" disabled>
    </mat-form-field>

    <div class="actions">
      <button type="button" mat-raised-button (click)="delete()" color="warn">
        Remover
      </button>

      <button type="button" mat-raised-button (click)="cancel()">
          Cancelar
      </button>
    </div>
    </form>

</mat-card>
