<div class="title">
  <em class="material-icons">note_add</em>
  <h1>Atualizar complemento do produto</h1>
</div>

<mat-card class="card">

  <form>

      <mat-form-field>
          <input matInput placeholder="Id" [(ngModel)]="produtoComplemento.id" name="id" disabled>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="produtoComplemento.nome" name="nome" maxlength="20">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Sigla" [(ngModel)]="produtoComplemento.sigla" name="sigla" maxlength="01">
      </mat-form-field>

  </form>

  <div class="actions">
    <button type="button" mat-raised-button (click)="update()" color="primary">
        Atualizar
    </button>

    <button type="button" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
  </div>

</mat-card>


