/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.msg-success {
  background-color: #34997D;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}

.title {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  color: rgb(148, 155, 155);
}

.title h1 {
  font-weight: 700;
}

.title em{
  color: rgb(148, 155, 155);
}

.edit em {
  color: #e6bb43b4;
}

.delete em {
  color: #f2582eb0;
}

.other-action {
  color: cadetblue;
}

.tooltip {
  /* background-color: cadetblue; */
  font-size: small;
  font-style: italic;
}
